<a href="https://colab.research.google.com/github/amaziarczyk/Projects/blob/master/Braki_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BRAKI DANYCH- uzupełnianie braków Skit-learn i fillna()

In [ ]:
import numpy as np
import pandas as pd
import sklearn

In [ ]:
# tworzenie zbioru z watościami pustymi
data = {
    'size': ['XL', 'L', 'M', np.nan, 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male',np.nan , 'female', 'female'],
    'price': [199.0, 89.0,np.nan, 129.0, 79.0],
    'weight': [500, 450, 300, np.nan, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']}

df_raw= pd.DataFrame(data)
df = df_raw.copy()
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    4 non-null      object
 1   color   5 non-null      object
 2   gender  4 non-null      object
 3   price   4 non-null      float64
 4   weight  4 non-null      float64
 5   bought  5 non-null      object
dtypes: float64(2), object(4)
memory usage: 368.0+ bytes

In [ ]:
df.isnull()

    size  color  gender  price  weight  bought
0  False  False   False  False   False   False
1  False  False   False  False   False   False
2  False  False    True   True   False   False
3   True  False   False  False    True   False
4  False  False   False  False   False   False

In [ ]:
# ile pustych
df.isnull().sum().sum()

4

In [ ]:
# gdzie są puste
df.isnull().sum()

size      1
color     0
gender    1
price     1
weight    1
bought    0
dtype: int64

In [ ]:
# udział pustych
df.isnull().sum()/len(df)

size      0.2
color     0.0
gender    0.2
price     0.2
weight    0.2
bought    0.0
dtype: float64

Uzupełnianie braków: Simple Imputer

In [ ]:
from sklearn.impute import  SimpleImputer

In [ ]:
imputer=SimpleImputer(missing_values= np.nan, strategy='mean')
imputer.fit_transform(df[['weight']])

array([[500.],
       [450.],
       [300.],
       [415.],
       [410.]])

In [ ]:
df['weight']=imputer.fit_transform(df[['weight']])

In [ ]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes

In [ ]:
# uzupełnienie najpopularniejszą wartością
imputer=SimpleImputer(missing_values= np.nan, strategy='most_frequent')
df['gender']=imputer.fit_transform(df[['gender']])
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue  female    NaN   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes

In [ ]:
# uzupełnienie metodą fillna()
df['size']=df['size'].fillna(value='L')

In [ ]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue  female    NaN   300.0    yes
3    L  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes