<a href="https://colab.research.google.com/github/amaziarczyk/Colab/blob/master/Statystyka_prawo_jazdy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Badanie związku między województwem a płcią w prawie jazdy

In [ ]:
import pandas as pd
import plotly.express as px
import plotly.figure_factory as ff

from scipy import stats
from statsmodels.stats import weightstats as stests

In [ ]:
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/prawo_jazdy/nowe_prawa_jazdy_wg_plci_i_wieku(1-5.2020).csv", sep="|", encoding = "windows-1250")
df.head()

   DATA_MC  KOD_WOJ        WOJEWODZTWO PLEC  WIEK  LICZBA
0  2020-01        2  WOJ. DOLNOŚLĄSKIE    K    40      15
1  2020-01        2  WOJ. DOLNOŚLĄSKIE    K    36      22
2  2020-01        2  WOJ. DOLNOŚLĄSKIE    K    61       1
3  2020-01        2  WOJ. DOLNOŚLĄSKIE    K    55       4
4  2020-01        2  WOJ. DOLNOŚLĄSKIE    K    56       2

In [ ]:
# PRZYGOTOWANIE DANYCH
# zmiana formatu daty
df["DATA_MC"]=pd.to_datetime(df["DATA_MC"])

In [ ]:
# grupowanie wg płci
df.groupby(['DATA_MC']).agg(dict(LICZBA="sum"))

            LICZBA
DATA_MC
2020-01-01   27811
2020-02-01   26955
2020-03-01   14513
2020-04-01     715
2020-05-01    8393

In [ ]:
# Statystyki opisowe
df.describe()

           KOD_WOJ         WIEK       LICZBA
count  4954.000000  4954.000000  4954.000000
mean     16.640694    35.468107    15.822971
std       9.375777    12.730963    53.610687
min       2.000000    14.000000     1.000000
25%       8.000000    25.000000     2.000000
50%      16.000000    34.000000     4.000000
75%      24.000000    45.000000    10.000000
max      32.000000    75.000000  1024.000000

In [ ]:
# Liczba praw jazdy wedlug województw
df['WOJEWODZTWO'].value_counts()

WOJ. MAZOWIECKIE            388
WOJ. DOLNOŚLĄSKIE           373
WOJ. WIELKOPOLSKIE          347
WOJ. ŁÓDZKIE                327
WOJ. KUJAWSKO-POMORSKIE     322
WOJ. LUBELSKIE              316
WOJ. POMORSKIE              312
WOJ. ŚLĄSKIE                309
WOJ. MAŁOPOLSKIE            306
WOJ. WARMIŃSKO-MAZURSKIE    300
WOJ. LUBUSKIE               299
WOJ. ZACHODNIOPOMORSKIE     298
WOJ. PODLASKIE              290
WOJ. PODKARPACKIE           287
WOJ. ŚWIĘTOKRZYSKIE         247
WOJ. OPOLSKIE               233
Name: WOJEWODZTWO, dtype: int64

In [ ]:
# porównanie liczby kobiet i mezczyzn (test t-studenta, n>100 => r.normalny)
## H0: tyle samo kobiet zdało prawo jazdy co mezczyzn
## H1: wiecej kobiet zdało

In [ ]:
#grupowanie
df_k = df[df['PLEC']=="K"]
kobiety= df_k['LICZBA']

df_m = df[df['PLEC']=="M"]
mezczyzni = df_m['LICZBA']

In [ ]:
# p-value (alpha=0,05)
stat, pvalue=stats.ttest_ind(kobiety,mezczyzni)
print ("p-value= ", pvalue)

if pvalue<0.05:
  print("p<0,05 \n Odrzucamy H0 o braku różnic w liczbie zdanych praw jazdy między kobietami i mężczyznami")
else:
  print("p>0,05 \n Brak podstaw do odrzucenia hipotezy o braku różnic w liczbie zdanych praw jazdy między kobietami i mężczyznami")

p-value=  0.25287445295774164
p>0,05
 Brak podstaw do odrzucenia hipotezy o braku różnic w liczbie zdanych praw jazdy między kobietami i mężczyznami

In [ ]:
# sprawdzenie, że liczba kobiet i meżczyzn jest różna

a= df.groupby(['PLEC'])['LICZBA'].sum().reset_index()
a

  PLEC  LICZBA
0    K   39477
1    M   38910

In [ ]:
# korelacja między wiekiem a liczbą
korelacja= df[['WIEK','LICZBA']].corr()
korelacja.style.background_gradient(cmap="RdBu_r")